.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)
        ),
         url("https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bG9naW4lMjBwYWdlfGVufDB8fDB8fHww");
    background-size: cover;
}

.loginTitle{
    font-size: 50px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label{
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
}


.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(192, 43, 226);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;

}

.loginButton:disabled{
    cursor: not-allowed;
    background-color: red;
}

.loginButton:hover{
    background-color: palevioletred;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(192, 43, 226);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.registerButton:hover{
    background-color: plum;
}